.textbox {
    background-color: #a3624c;
}
.button {
   background-color: #84724f;
   border-color: black;
   color:white;
   
}
.radio {
    background-color: #84724f;
   border-color: black;
   color:white;
}
form {
    display: inline-block;
    background-color: #a3624c;
    color:#67bf88;
    
}
.view{
    display:inline-block;
    background-color: #a3624c;
    text-align: center;
    border-color: 2px solid black;
    padding-left: 150px;
    padding-right: 150px;
    color:#67bf88;
    border-radius: 30%;
}
#search_area{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    background-color:#a3624c;
border-radius: 30%;
    padding-left: 150px;
    padding-right: 150px;
}
input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    background-color: #84724f;
}


#search_results {
  
    color:blue;
   
}
        
body{
    background-image: url("../img/Screenshot (109).png");
    text-align: center;
    
 color:red;
   font-family: "Times New Roman", serif;
}

img{
    border-radius: 8px;
    height:200px;
    width:140px;
}
table
{
    
    border-collapse: collapse;
    color:#67bf88;
    background-color: #a3624c;

}
tr
{
    border-bottom: solid black 1px;
}
th
{
    padding: 5px;
    border: solid black 2px;
}
td
{
    text-align: center;
    border-left: solid black 1px;
    border-right: solid black 1px;
}