.textbox {
    background-color: white;
}
.button {
   background-color: #84724f;
   border-color: black;
   color:white;
   
}
.radio {
    
}
form {
    display: inline-block;
    background-color: white;
    color:blue;
    
}
#search_area{
    display: inline-block;
    text-align: center;
    border: 1px solid blue;
    background-color:white;

    padding-left: 150px;
    padding-right: 150px;
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}
#search_results {
    
    color:blue;
   
}
        
body{
    background-image: url("/Team-Project/img/Screenshot (109).png");
    text-align: center;
    
 
   font-family: "Times New Roman", serif;
}

img{
    border-radius: 8px;
    height:200px;
    width:140px;
}
table
{
    border-collapse: collapse;
    color:blue;
    background-color: white

}
tr
{
    border-bottom: solid black 1px;
}
th
{
    padding: 5px;
    border: solid black 2px;
}
td
{
    text-align: center;
    border-left: solid black 1px;
    border-right: solid black 1px;
}
